.cardWrapper{
    height: 80vh;
    width: auto;
    background-color: #a6d138;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cardText{
    font-size: clamp(8vw, 10vw, 10vw);
    color: rgb(30, 29, 29);
    font-stretch: expanded;
    font-family: 'ThunderBlackLC';
}
.cardText2{
    font-size: clamp(8vw, 10vw, 10vw);
    color:#9bc62e ;
    font-family: 'ThunderBlackLC';
}
