.cardWrapper{
    height: 80vh;
    width: auto;
    background-color: #a6d138;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.cardText{
    font-size: clamp(8vw, 10vw, 10vw);
    font-stretch:semi-condensed;
    margin: 10px;
    transform: scaleY(1.2);
    color: #283618;
}
.cardText2{
    font-size: clamp(8vw, 10vw, 10vw);
    font-stretch:semi-condensed;
    margin: 10px;
    transform: scaleY(1.2);
    color:#9fc936 ;
}