.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 10px; /* Optional spacing between grid items */
    height: 30vh; /* Set a height for better visibility */
    width: 70%;
  }
  
  .grid-item {
    background-color: lightblue; /* Optional styling */
    padding: 20px; /* Optional styling */
    border: 1px solid #000; /* Optional styling */
    display: flex;
  }
  
  .left {
    justify-content: flex-start; /* Align content to the top-left */
    align-items: flex-start; /* Align content to the top */
  }
  
  /* Style for right items */
  .right {
    justify-content: flex-end; /* Align content to the bottom-right */
    align-items: flex-start; /* Align content to the bottom */
  }

  .titleContainer{
    display: flex;
    justify-content: center;
  }
  