.navList{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
    color: #9fcc2e;
    font-size: 2vw;
}

.navWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
